.flex.justify-center.items-center.px-0.pt-20.pb-20(class='lg:pt-56')
    .flex.flex-col.justify-center(class='lg:flex-row')

        img(style="max-width: 32rem;" src="static/images/404.svg")

        div.px-10.flex.flex-col.justify-evenly.content-evenly(style="color: #333d51")
            span.text-404(style="color: #bc4d42") 404
            h1.font-black
                span.english-text
                    | Oops! You weren't supposed to see this.
                span.filipino-text
                    | Oops! Hindi mo dapat ito nakikita.

            span.text-message(style="text-align: justify")
                span.english-text
                    | The page you are looking for does not exist. Just pretend you haven't seen anything. Let's get you back home safely!
                span.filipino-text
                    | Ang pahina na iyong hinahanap ay wala. Magpanggap ka na lang na wala kang nakita. Umuwi na tayo ng matiwasay!

            a.btn.btn-midnight-blue.text-white(href="/")
                span.english-text
                    | Go To Home

                span.filipino-text
                    | Pumunta sa “home”
