include ./content-mixins.pug

.flex.justify-center.items-center.px-0.pt-20.pb-20(class='lg:pt-56')
  .flex.flex-col(class='lg:flex-row w-5/6')
    .flex.flex-col
      div
        h1.text-4xl.text-center.py-7.leading-tight(class='md:text-6xl xl:text-7xl md:text-left')
          span.english-text
            | I <b>aspire</b> to be <br /> COVID-safe.
          span.filipino-text
            | Hangad kong maging ligtas sa COVID-19.
        span.text-base.pr-20(class='md:text-lg xl:text-2xl')
          span.english-text
            | Estimate your activity’s transmission risks using the website to enjoy a safer and less-concerning experience during the pandemic.
          span.filipino-text
            | Tantiyahin ang panganib ng iyong aktibidad gamit ang website upang makamit ang mas ligtas na karanasan sa panahon ng pandemya.


      .flex.flex-col.text-center.text-white.text-xs.font-black.tracking-widest2x.mt-5(class='sm:text-s md:text-base lg:text-lg md:pr-16')
          //-
            a.bg-midnight-blue.my-2.py-3.rounded-full.shadow-lg(href="/how-to-use" class='md:py-5')
              span.english-text
                  | HOW TO USE
              span.filipino-text
                  | PAANO GAMITIN

          a.bg-gold.my-2.py-3.rounded-full.shadow-lg(href='#consent_modal' class='md:py-5')
            span.english-text
                | GET STARTED
            span.filipino-text
                | MAGSIMULA

    img(src="static/images/Home_Illus_Above.svg" class='lg:max-w-3xl xl:max-w-5xl')

section.info(class='lg:min-h-screen')
  .info-top-circle
  .container.mx-auto.pt-10
    .flex.flex-col.text-center.text-white
      span.mx-auto
        object.h-52.w-52(data="/static/icons/Aspire-Logo (green).svg" type='image/svg+xml')

      h1.text-4xl.font-semibold.text-center.py-7(class='md:text-5xl xl:text-6xl')
        span.english-text
          | Meet Aspire
        span.filipino-text
          | Kilalanin Ang Aspire

      span.text-base.px-10(class='md:text-lg xl:text-xl')
        span.english-text
          | Short for Activity Safety Planning and Infection Risk Estimator, it is a website where citizens in the Philippines can estimate their possible risks on planned activities during the global pandemic.
          | It is heavily based on Jimenez and Peng’s estimator and the MyCOVIDRisk Application.
        span.filipino-text
          | Ang daglat para sa “Activity Safety Planning and Infection Risk Estimator,”
          | ito ay isang website kung saan ang mga mamamayan sa Pilipinas ay maaring tantiyahin ang posibleng panganib sa kanilang planadong aktibidad sa panahon ng pandemya.
          | Ito ay lubos na nakabatay sa estimator nina Jimenez at Peng pati sa MyCOVIDRisk Application.

    .flex.flex-col.text-center.text-white.my-12
      span.text-lg.text-green-400.m-10(class='md:text-xl xl:text-2xl')
        span.english-text
          | In Aspire you can...
        span.filipino-text
          | Sa aspire, maari kang...

      .grid.grid-cols-1.gap-4(class='md:grid-cols-3')

        .text-white.flex.flex-col.p-10.space-y-5
          .h-28.w-28.mx-auto.p-5.bg-midnight-blue.rounded-7xl.shadow-lg.flex
            object.h-16.w-16.self-center.object-center.m-auto(data="/static/icons/Estimate.svg" type='image/svg+xml')

          span.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')
            span.english-text
              | Estimate
            span.filipino-text
              | Magtantiya

          span.text-base.font-light(class='md:text-lg xl:text-xl')
            span.english-text
              | Utilize premade values based on credible research or customize them to identify your COVID-19 transmission risk when doing a planned activity.
            span.filipino-text
              | Gamitin ang mga sarili o <i> premade </i> na halaga na nakabatay sa pananaliksik upang matukoy ang iyong panganib sa COVID-19 kapag gagawin ang naplanuhang aktibidad.

        .text-white.flex.flex-col.p-10.space-y-5
          .h-28.w-28.mx-auto.p-5.bg-midnight-blue.rounded-7xl.shadow-lg
            object.h-16.w-16.self-center.object-center.m-auto(data="/static/icons/Learn.svg" type='image/svg+xml')

          span.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')
            span.english-text
              | Learn
            span.filipino-text
              | Matuto

          span.text-base.font-light(class='md:text-lg xl:text-xl')
            span.english-text
              | Experiment with the values onsite to determine how crucial each decisions are to increase or decrease your transmission risks.
            span.filipino-text
              | Mag-eksperimento ng mga halaga sa website upang malaman kung gaano ka-importante ang bawat desisyon para tumaas o bumaba ang panganib sa COVID-19.

        .text-white.flex.flex-col.p-10.space-y-5
          .h-28.w-28.mx-auto.p-5.bg-midnight-blue.rounded-7xl.shadow-lg
            object.h-16.w-16.self-center.object-center.m-auto(data="/static/icons/Evaluate.svg" type='image/svg+xml')

          span.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')
            span.english-text
              | Evaluate
            span.filipino-text
              | Magsuri

          span.text-base.font-light(class='md:text-lg xl:text-xl')
            span.english-text
              | With this estimator, it can help you assess whether your planned activity is safe for you and your family.
              | If it is not, it allows you to plan ahead of time for possible solutions in having a safer activity.
            span.filipino-text
              | Ang website ay makakatulong upang masuri mo kung ang iyong nakaplanong aktibidad ay ligtas para sayo at sa iyong mga kasama.
              | Kung hindi, binibigyan ka nito ng pagkakataon parang maghanap ng mga posibleng solusyon para magkaroon ng mas ligtas na aktibidad.

  .info-bottom-circle


section.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
    .container.space-y-10
        .section.text-center
            h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  Frequently Asked Questions
        .section.space-y-4

            +collapse_item( "What is Aspire’s specific purpose?",
                            "Ano ang tiyak na layunin ng aspire?",
                            "Aspire is a website with the purpose to assist every citizen living in the Philippines, so they could evaluate the safety of their planned activities during the global pandemic by estimating their COVID-19 transmission risks. " +
                            "Aspire then intends to provide precautionary measures through WHO’s infographics to reduce transmission risks for the users to enjoy a safer activity. " +
                            "It also aims to collate important COVID-19 information links for easier reference.",
                            "Ang aspire ay may layuning tulungan ang mga mamamayan na nakatira sa Pilipinas para masuri nila kung gaano kaligtas ang kanilang aktibidad sa panahon ng pandemya. " +
                            "Upang makamit ang layuning ito, ang website ay ginawa para sa pagtatantiya ng panganib mula sa COVID-19 batay sa lugar at aktibidad. " +
                            "Ang aspire ay may intensyon magbigay ng mga hakbang sa pag-iingat sa pamamagitangng infographics ng WHO para mapababa pa ang panganib. " +
                            "Dagdag pa, may layunin itong mag-collate ng mga importanteng link ukol sa COVID-19 bilang gabay sa mga gagamit ng website. ")

            +collapse_item( "What can the website do?",
                            "Ano ang kayang gawin ng website?",
                            "The website provides a tool for users to estimate their COVID-19 transmission risks in doing a planned activity using premade values and the disease prevalence of their specific area."  +
                            "Users can also provide values in necessary fields if the given presets do not include the planned activity of the user. " +
                            "After the estimation, the website can suggest and remind ways to lower transmission risks through safety tips and precautionary measures.",
                            "Gamit ang disease prevalence of area at mga preset, ang website ay nagsisilbing kagamitan para tantiyahin ng mga user ang kanilang panganib mula sa COVID-19 habang isinasagawa ang nakaplanong aktibidad. " +
                            "Ang mga user ay maari ring magbigay ng mga halaga sa kinakailangang field kung ang mga ibinigay na preset ay hindi sapat para sa plano ng user. ")

            +collapse_item( "What can the website not do?",
                            "Ano ang hindi kayang gawin ng website?",
                            "The website only provides one user’s risk of infection during an event, and not the user’s risk of hospitalization and death. "  +
                            "Since there is still a lot of unknown regarding the COVID-19 virus, the website only provides a rough calculation of the user’s risk based on the best and recent science coming from related literature. " +
                            "The website does not take into consideration vaccination, social distancing, and other precautionary measures performed by the user. " +
                            "Additionally, it does not collect any personal information. ",
                            "Ang website ay nagbibigay lamang ng panganib ng impeksyon para sa isang tao, at hindi ang mga panganib ng hospitalization at kamatayan. " +
                            "Dahil marami pa rin ang hindi tiyak ukol sa COVID-19, ang website ay nagbibigay lamang ng magaspang na pagkalkula ng panganib ng user batay sa pinakamahusay at kamakailang agham na nagmumula sa mga nauugnay na literatura. " +
                            "Hindi isinasaalang-alang ng website ang pagbabakuna, pagdistansya mula sa ibang tao, at mga hakbang sa pag-iingat na ginawa ng user. " +
                            "Bukod pa rito, hindi ito nangongolekta ng anumang personal na impormasyon ang website. ")

            +collapse_item( "Who can use Aspire and who cannot use the website?",
                            "Sino ang maaring gumamit ng website, at sino naman ang hindi?",
                            "The website can be used by anyone that is living or staying in the Philippines as long as they have the gadget and internet to access the website. "  +
                            "However, people who currently have the virus are not allowed to use Aspire since they are advised to isolate themselves, which means they should not participate in any activity with human gathering.",
                            "Ang website ay puwedeng gamitin ng sinuman na nakatira o nananatili sa Pilipinas hangga’t mayroon silang sapat na internet at gamit para puntahan ang website. " +
                            "Ngunit, ang mga taong kasulukuyang apektado ng COVID-19 ay hindi maaring gamitin ang website sapagkat sila ay pinapayuhang ihiwalay ang kanilang mga sarili, nangangahulugang hindi dapat sila lumalahok sa anumang aktibidad na may pagtitipon ng mga tao. ")

            +collapse_item( "Does the website collect personal information of users?",
                            "Nangongolekta ba ang website ng mga personal na impormasyon?",
                            "No, the website does not collect any information that can help identify the user. "  +
                            "The website only stores data entered by the users (e.g. activity choice) in case future scientific studies are performed in analyzing human activity patterns during the pandemic.",
                            "Hindi, ang website ay hindi kumokolekta ng anumang impormasyon na makakatulong upang makilala ang gumagamit ng aspire. " +
                            "Ang website ay kumokolekta lamang ng mga data na pinapasok ng mga user (Hal. pagpili ng aktibidad) sakaling may magsagawa ng siyentipikong pag-aaral ukol sa pagsusuri ng mga aktibidad ng tao sa panahon ng pandemya. ")

            +collapse_item( "Who should I contact in case of persisting technical difficulties?",
                            "Sino ang dapat kong kontakin sakaling ako ay maharap sa patuloy na mga problemang teknikal?",
                            "You may contact our communications manager, Anne Gabor, through her email anne_nicole_gabor@dlsu.edu.ph with the subject format [ASPIRE] Technical Difficulties.",
                            "Maari mong ikontak ang aming <i> communication manager </i> na si Anne Gabor sa pamamagitan ng kanyang email na <a href='mailto:anne_nicole_gabor@dlsu.edu.ph' class='btn-link text-midnight-blue'> anne_nicole_gabor@dlsu.edu.ph </a>. " +
                            "Pakilagay na lamang sa paksa ang format na ito: [ASPIRE] Technical Difficulties.")

            +collapse_item( "Will the website have future versions and support more languages?",
                            "Magkakaroon pa ba ng ibang bersyon sa hinaharap ang website pati na rin ang pagdagdag ng iba pang wika?",
                            "The researchers have no plans yet to update the version of the website and add more languages after the research study ended, although they are open for discussions.",
                            "Wala pang plano ang mga mananaliksik upang bigyan ng mga panibagong bersyon ang website o karagdagang wika pagkatapos ng kanilang pananaliksik. " +
                            "Ngunit, sila ay bukas para sa mga talakayan ukol rito. ")



.contact-top-circle

section.bg-sky-blue.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
    .container.space-y-10

        .section.text-center
            h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')
              span.english-text
                | Still have questions?
              span.filipino-text
                | May iba pang katanungan?

            span.text-base.px-10(class='md:text-lg xl:text-xl')
                span.english-text
                    | If you can not find an answer to your questions in our FAQs, you can always contact us!
                span.filipino-text
                    | Kung hindi niyo mahanap ang sagot sa mga inyon tanong sa aming FAQs, maari kayong makipag ugnayan sa amin!

        .section.text-center
            h1.text-2xl.font-semibold.text-center.py-7(class='md:text-3xl xl:text-4xl')
              span.english-text
                | The AGALEPA Team
              span.filipino-text
                | Ang Pangkat AGALEPA

            span.text-base.px-15(class='md:text-lg xl:text-xl')
                span.english-text
                    | The creators of this website are Grade 12 student researchers from the Senior High School Department of De La Salle University-Integrated School Laguna Campus.
                    | This research study is for the partial fulfillment of the requirements for their research project.

                span.filipino-text
                    | Ang lumikha ng website na ito ay mga mananaliksik at estudyante ng baitang 12 na nagmumula sa Departamento ng Senior High School ng De La Salle University—Integrated School Laguna Campus.
                    | Ang pananaliksik ay para sa bahagyang katuparan ng mga kinakailangan para sa kanilang kurso ukol sa pananaliksik.

        .grid.grid-cols-1.gap-5.py-10.text-center(class='md:grid-cols-2 lg:grid-cols-4')

            .space-y-2
                h2.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')  Ms. Anne Gabor
                h3.font-semibold.text-base.tracking-wide(class='md:text-lg xl:text-xl')  Researcher, Writer, Communications Manager
                h4.text-base(class='md:text-lg xl:text-xl')
                    a(href='mailto:anne_nicole_gabor@dlsu.edu.ph' style='color: black; text-decoration: underline;')
                        | anne_nicole_gabor@dlsu.edu.ph
            .space-y-2
                h2.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')  Mr. Cy Padillon
                h3.font-semibold.text-base.tracking-wide(class='md:text-lg xl:text-xl')  Researcher, Writer, Graphics Designer
                h4.text-base(class='md:text-lg xl:text-xl')
                    a(href='mailto:cy_padillon@dlsu.edu.ph' style='color: black; text-decoration: underline;')
                        | cy_padillon@dlsu.edu.ph
            .space-y-2
                h2.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')  Mr. Thaniel Lee
                h3.font-semibold.text-base.tracking-wide(class='md:text-lg xl:text-xl')  Researcher, Programmer
                h4.text-base(class='md:text-lg xl:text-xl')
                    a(href='mailto:thaniel_lee@dlsu.edu.ph' style='color: black; text-decoration: underline;')
                        | thaniel_lee@dlsu.edu.ph
            .space-y-2
                h2.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')  Mr. Maveron Aguares
                h3.font-semibold.text-base.tracking-wide(class='md:text-lg xl:text-xl')  Researcher, Programmer, Accounting Manager
                h4.text-base(class='md:text-lg xl:text-xl')
                    a(href='mailto:maveron_aguares@dlsu.edu.ph' style='color: black; text-decoration: underline;')
                        | maveron_aguares@dlsu.edu.ph

footer.bg-midnight-blue.mx-auto.flex.align-items-center.justify-center.text-white(class='md:py-10')

    .container.grid.grid-cols-1.gap-5.py-10.px-10(class='md:grid-cols-2 lg:grid-cols-4')

        div.flex.flex-col.font-bold
            span Aspire
            span &#169; 2021

        div.flex.flex-col.font-bold
            span Icons by Icons8 and FontAwesome
            span Illustrations by Freepik

        div.flex.flex-col
            span.font-bold Thanks to Jimenez and Peng
            span who created the estimator model

        div.flex.flex-col
            span.font-bold Thanks to Mr. Ralph Louis Gopez
            span who fixed major technical issues in the website and assisted in its development

#consent_modal.modal
  .modal-box.space-y-5.overflow-auto(class='sm:h-auto' style="width: 100vh")

    .p-6.card.bordered
      .form-control
        label.cursor-pointer.label
          span.label-text.w-80.text-lg
            span.english-text
              | I have read and understood the informed consent form of the website.
            span.filipino-text
              | Nabasa at naunawaan ko ang informed consent form ng website.

          input.checkbox(type='checkbox' name='chk[]')

    .p-6.card.bordered
      .form-control
        label.cursor-pointer.label
          span.label-text.w-80.text-lg
            span.english-text
              | I understand that the website is not a replacement for any medical advice and government protocols.
            span.filipino-text
              | Naiintindihan ko na ang website ay hindi pamalit sa anumang payong medikal at mga protokol ng gobyerno.
          input.checkbox(type='checkbox' name='chk[]')

    .p-6.card.bordered
      .form-control
        label.cursor-pointer.label
          span.label-text.w-80.text-lg
            span.english-text
              | I understand that Aspire’s purpose is to roughly calculate my safety of COVID-19.
              | Thus, it does not cancel out the possibility of acquiring the virus.
            span.filipino-text
              | Naiintindihan ko na ang layunin ng aspire ay kalkulahin ang aking kaligtasan sa COVID-19.
              | Hindi nito kinakansela ang posibilidad na magkaroon ako ng nasabing virus.
          input.checkbox(type='checkbox' name='chk[]')

    .p-6.card.bordered
      .form-control
        label.cursor-pointer.label
          span.label-text.w-80.text-lg
            span.english-text
              | My planned activity is located in the Philippines.
            span.filipino-text
              | Ang aking nakaplanong aktibidad ay matatagpuan sa Pilipinas.
          input.checkbox(type='checkbox' name='chk[]')

    .p-6.card.bordered
      .form-control
        label.cursor-pointer.label
          span.label-text.w-80.text-lg
            span.english-text
              | I do not exhibit symptoms of COVID-19/I do not have COVID-19.
            span.filipino-text
              | Wala akong anumang sintomas ng COVID-19.
          input.checkbox(type='checkbox' name='chk[]')

    .card.shadow
      .card-body

        a.btn(href="static/documents/AGALEPA_ICF.pdf" target="_blank" download="AGALEPA Informed Consent Form")
            span Downloand Informed Consent Form

    .card.shadow
      .card-body
        p.english-text
          | Note that the estimator assumes that the society does not practice social distancing and vaccination. Precautionary measures are still being researched to be implemented into the equation in future versions.
        p.filipino-text
          | Tandaan na ang <i>estimator</i> ay ipinapalagay na ang lipunan ay hindi nagpapatupad ng <i>social distancing</i> at pagbabakuna.

    .modal-action
      a.btn(href='#')
        span.english-text Close
        span.filipino-text Isara
      a#consent_btn.btn.bg-green.outline-0(href="/estimate/1" disabled='disabled')
        span.english-text Accept
        span.filipino-text Tanggapin
