include ./content-mixins.pug

.flex.flex-col.justify-center.items-center.px-20.font-sans.text-midnight-blue.pb-5.space-y-10(npclass='md:px-72 lg:px-96')
    section.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
        .container.space-y-10
            .section.text-center
                h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  How It Works

                span.text-base.pr-20(class='md:text-lg xl:text-2xl')
                  span.text-center.english-text
                    | The risk estimator formulae used in aspire was taken from Jimenez and Peng's (2020) risk estimator.
                    | The formulae were analyzed and broken down as seen below

section.info
    .info-top-circle

    section.mx-auto.flex.align-items-center.justify-center.text-white(class='md:py-10')
        .container.space-y-10

            img.w-full.p-10(src="static/images/how-it-works/formula-diagram.jpg" alt="image")

            .section.text-center

                h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  The risk estimator formulae
                span.text-base.pr-20(class='md:text-lg xl:text-2xl')
                    span.text-center.english-text
                        | Inputs required from the user are shown in red. Inputs in blue are optional, as they are only asked when the user wants to create their own custom activity. However if they chose a preset, the inputs are pre-filled with values shown in tables below.

    .info-bottom-circle

section.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
    .container.space-y-10
        .section.text-center
            h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  Frequently Asked Questions
        .section.space-y-4

            +collapse_item( "aspire is based on what studies?",
                            "Saan ko makikita at magagamit ang risk estimator nila Jimenez and Peng",
                            "The estimator used on the website is based on <a href='https://tinyurl.com/covid-estimator' class='btn-link text-midnight-blue'> Jimenez and Peng’s COVID-19 Aerosol Transmission Estimator. </a>" +
                            "The actual estimation’s interface is inspired from Brown-Lifespan Center for Digital Health’s MyCOVIDRisk App. " +
                            "Additional research were done by the researchers to replace US-based parameters to the Philippine setting. ",
                            "Maari mo itong puntahan <a href='/' class='btn'>dito</a>")

            +collapse_item( "Are the results accurate?",
                            "Maglagay ng translasyon dito",
                            "The estimator should not be viewed as accurate to real life because it only estimates the probability of one’s risk. " +
                            "There are also many outside factors that cannot be put into the equation such as the user’s vaccination status, specific meters of social distancing, and precautionary measures performed by the user. <br/> " +
                            "On the other hand, aspire is accurate to Jimenez and Peng's risk estimator where the formulae used were based. " +
                            "The percentage error is very minimal, thus it is accurate to Jimenez and Peng's risk estimator. ",
                            "Maglagay ng translasyon dito")

            +collapse_item( "What are the risk values and ranges?",
                            "Maglagay ng translasyon dito",
                            "No studies have yet to show the specific risk values for COVID-19. " +
                            "The risk score ranges were adapted from Brown-Lifespan Center for Digital Health’s MyCOVIDRisk App which they based on a survey. The risk ranges are as follows: </br>" +
                            "<ul> <li> &#8226; Very Low Risk = 0.00001% </li> " +
                            "<li> &#8226; Low Risk = 0.01 - 0.00001% </li> <li> &#8226; Medium Risk = 0.01 - 0.1% </li>" +
                            "<li> &#8226; High Risk = 0.1 - 5% </li> <li> &#8226; Very High Risk = 5% </li> </ul>",
                            "Maglagay ng translasyon dito")
