include ./content-mixins.pug

mixin collapse_item(eng_title, fil_title, eng_body, fil_body)
    .collapse.border.border-base-300.bg-base-100.rounded-box.collapse-plus.mx-auto(tabindex='0')
        input(type='checkbox')
        .collapse-title.font-semibold.text-xl.tracking-wide(class='md:text-2xl xl:text-3xl')
            span.english-text= eng_title
            span.filipino-text= fil_title
        .collapse-content
            span.text-base.font-bold(class='md:text-lg xl:text-xl')
                span.english-text!= eng_body
                span.filipino-text= fil_body

//-
    .collapse(tabindex='0')
        input(type='checkbox')
        .collapse-title.text-xl.font-medium
            | Click me to show/hide content
        .collapse-content
            p
                span tabindex=&quot;0&quot; attribute is necessary to make the div focusable
                a(href="/") test


.flex.flex-col.justify-center.items-center.px-20.font-sans.text-midnight-blue.pb-5.space-y-10(npclass='md:px-72 lg:px-96')
    section.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
        .container.space-y-10
            .section.text-center
                h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  How It Works

                span.text-base.pr-20(class='md:text-lg xl:text-2xl')
                  span.text-center.english-text
                    | The risk estimator formulae used in aspire was taken from Jimenez and Peng's (2020) risk estimator.
                    | The formulae were analyzed and broken down as seen below

section.info
    .info-top-circle

    section.mx-auto.flex.align-items-center.justify-center.text-white(class='md:py-10')
        .container.space-y-10
            .section.text-center
                h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  The risk estimator formulae

                span.text-base.pr-20(class='md:text-lg xl:text-2xl')
                  span.text-center.english-text
                    | Inputs required from the user are shown in red. Inputs in blue are optional, as they are only asked when the user wants to create their own custom activity. However if they chose a preset, the inputs are pre-filled with values shown in tables below.

    .info-bottom-circle(style="background-color: white;")

section.mx-auto.flex.align-items-center.justify-center(class='md:py-10')
    .container.space-y-10
        .section.text-center
            h1.text-3xl.font-semibold.text-center.py-7(class='md:text-4xl xl:text-5xl')  Frequently Asked Questions
        .section.space-y-4

            +collapse_item( "Where can I find and use Jimenez and Peng's risk estimator?",
                            "Saan ko makikita at magagamit ang risk estimator nila Jimenez and Peng",
                            "You can access it through <a href='/' class='btn'>here</a>",
                            "Maari mo itong puntahan <a href='/' class='btn'>dito</a>")

            +collapse_item( "What are the standard values used for each activity preset?",
                            "Maglagay ng translasyon dito",
                            "The activity level for each activity preset were based on Jimenez and Peng's risk estimator values. The floor areas were obtained from various Philippine-based buildings. Room heights were based on the National Building Code of the Philippines.",
                            "Maglagay ng translasyon dito")

            +collapse_item( "What are the standard values used for each ventilation preset?",
                            "Maglagay ng translasyon dito",
                            "Ventilation with outside air values were grabbed from 2010 PSVARE Standards in the Philippine Green Building Code.",
                            "Maglagay ng translasyon dito")

            +collapse_item( "May I ask for a detailed explanation of how the website was developed?",
                            "Saan ko makikita at magagamit ang risk estimator nila Jimenez and Peng",
                            "Of course! Since this website was done for the fulfillment of our research, you can check the methodolgy section of our paper <a href='/' class='btn'> here </a>",
                            "Maari mo itong puntahan <a href='/' class='btn'>dito</a>")
