extends ../estimation.pug
include ../estimation-mixins.pug

block page-title
    span.english-text Time and People
    span.filipino-text Oras at Tao
block page-number
    | 3 of 5

block page-description
    span.english-text
        | Kindly estimate how long the activity will take and the number of people involved:
    span.filipino-text
        | Tantiyahin kung gaano katagal ang aktibidad pati na rin ang bilang ng mga taong sangkot.

block progress-bar
    +bars(3, 5)

block input
    .space-y-2.flex.flex-col.justify-evenly.items-center(class='md:space-y-10 md:py-40')
        .space-y-2.m-b.w-72(class='md:w-100')
            .flex.flex-col.text-center
                h1.text-black.text-lg.font-semibold.tracking-wide(class='md:text-xl xl:text-2xl')
                    span.english-text How long will it take?
                    span.filipino-text Gaano ito katagal?

            .grid.grid-cols-1.gap-2
                .bg-dirty-white.px-3.py-2.text-midnight-blue.rounded-full.flex.col-span-1.text-xl.py-4
                    object.h-6.w-6(data="/static/icons/Duration.svg" type='image/svg+xml')
                    input#time_input.bg-transparent.ml-3.w-full.text-midnight-blue.leading-tight(class='focus:outline-none focus:shadow-outline' type='number' placeholder='Input here')

                .text-midnight-blue.col-span-1
                    .grid.grid-cols-2.bg-gray-600.rounded-full.p-1

                        button#hrsBtn.active.bg-dirty-white.rounded-full.py-4.text-midnight-blue.cursor-pointer(value='hours' type='button')
                            span.english-text Hours
                            span.filipino-text Oras

                        button#minBtn.inactive.bg-transparent.rounded-full.py-4.text-gray-400.cursor-pointer(value='minutes' type='button')
                            span.english-text Minutes
                            span.filipino-text Minuto

        .space-y-2.w-72(class='md:w-100')
            .flex.flex-col.text-center
                h1.text-black.text-lg.font-semibold.tracking-wide(class='md:text-xl xl:text-2xl')
                    span.english-text How many people are involved?
                    span.filipino-text Ilang tao ang sangkot sa aktibidad?

            .grid.grid-cols-1.gap-2
                .bg-dirty-white.px-3.py-2.text-midnight-blue.rounded-full.flex.col-span-1.text-xl.py-4
                    object.h-6.w-6(data="/static/icons/People.svg" type='image/svg+xml')
                    input#people_input.bg-transparent.ml-3.w-full.text-midnight-blue.leading-tight(class='focus:outline-none focus:shadow-outline' type='number' placeholder='Input here')
