.adv_btn {
    border-width: 0px;
    background-color: #E4E7F0;
    color: #333d51;
    transition: all 0.1s linear;
    margin-bottom: 0px;

    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    width: auto; /* 288px */
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    transition: all 0.1s linear;

}

.adv_btn:not(:first-child) {
    margin-left: 0.5rem;
}


.adv_btn.active {
    background-color: #b1a36a;
    color: white;
}

.adv_btn:hover {
    filter: brightness(95%);
    transform: scale(90%);
}

@media (max-width: 768px) {

    .act_level_img {
        display: none;
    }

    .adv_btn_container {
        display: flex;
        flex-wrap: wrap;
    }

    .adv_btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .adv_btn:not(:first-child) {
        margin-left: 0px;
    }

}
