video {
    height: 100vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
    position: absolute;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.screenshot-image {
    max-width: 90vw;
}


@media (max-width: 768px) {
    video {
        height: auto;
        width: auto;
        object-fit: cover; // use "cover" to avoid distortion
        position: absolute;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .carousel-item {
        max-height: 53rem;
    }
}
